*{margin:0;padding:0;box-sizing: border-box;}
#texto{
  color: white

}
body {
  background-image: url("https://media.discordapp.net/attachments/680549961108422701/754106806174744637/download.jpg ");

}
}
#form{
  background-color: white;
  max-width: 500px;
  width 50%;
  padding: 20px;
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-50%,-50%);
}
form h3{
  text-align: center;
  color: #5F7C8A;
  font-family: cursive;
}
form input[type=text],
form input[type=password]{
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  padding-left: 10px;
  margin: 10px 0;
}
.content{
  width: 500px;
  min-height: 560px;    
  margin: 0px auto;
  position: relative;   
}
p{
  margin-bottom:15px;
}

.link-bloco {
  display: block;
  background: #5F7C8A;
  color: white;
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
}

label{
  color: #405c60;
  position: relative;
}
form input[type=submit]{
  width: 100%;
  height:30px;
  cursor: pointer;
  background-color:#6A7B8A;
  color: white;
  border: 1;
  border-radius: 20px;
  transition: 1s;
}
form input[type=submit]:hover{
  background-color: #4A5F6A;

}
form input[type=text]:focus{
  outline: 0;

}