#link{
  color:white;
  font-size: 30px; 
  text-align: center;
  align-items: center;
}
body {
  background-image: url("https://media.discordapp.net/attachments/680549961108422701/754106806174744637/download.jpg ");

}
#texto {
  font-family: cursive, sans-serif,monospace,fantasy;
  color: white;
  font-size-adjust: auto;
  text-align: center;
}
#ideia{
  font-size: 30px;
  color: white;

}